.pagina-comunidad {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--cafe);
  color: #fff;
  width: 100%;
}

.encabezado-pagina {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.lista-mensajes {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.campo-entrada {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  background-color: var(--cafe);
  align-items: center;
}

.pagina-comunidad-contenido {
  height: 90%;
  overflow-y: scroll;
}
