.dia-clases {
  margin: 20px 0;
  background-color: #f0bdce;
}

.titulo-dia {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  color: #e91e63;
  margin-bottom: 10px;
  margin: 2%;
}

.clases-contenedor {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}
