.ContenedorTextAreaServAlCliente {
  margin-bottom: 15px;
}

.LabelTextAreaServAlCliente {
  display: block;
  margin-bottom: 5px;
  color: #2b2024;
}

.TextAreaServAlCliente {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
}
