.perfil-container-general {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 1rem 2rem;
}

.perfil-container .boton-route {
  height: 3rem;
  background-color: var(--bg);
  border: 1px solid var(--cafe);
  font-size: 1.6rem;
  border-radius: 1rem;
}
