.notif-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 40px;
    cursor: pointer;
}

.notif-container ion-icon {
    color: var(--rosa);
}

.notif-container ion-icon:hover {
    color: var(--blanco)
}