.burger-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 40px;
    cursor: pointer;
}

.burger-container ion-icon {
    color: var(--rosa);
}

.burger-container ion-icon:hover {
    color: var(--blanco);
}