.clase-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px; /* Espacio entre botones */
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  
  white-space: nowrap;
}

.clase-container::-webkit-scrollbar {
  width: 0;
}

.clase-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1e;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.clase-button:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.clase-image {
  width: 160px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.clase-text {
  color: white; /* White text color */
  margin-top: 10px;
  font-size: 14px; /* Adjust the font size as needed */
}
