.princi-container {
    display: flex;
    flex-direction: column;
}

.trainer-container {
    display: flex;
    padding: 15px;
    color: var(--rosa);
}

.ver-mas-container {
    margin-left: auto;
}
  