.rutina-detalles {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--cafe);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rutina-detalles h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rutina-detalles h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.rutina-detalles h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.rutina-detalles ul {
  list-style-type: none;
  padding: 0;
}

.rutina-detalles li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rutina-detalles li p {
  margin: 0;
}

.rutina-detalles li strong {
  font-weight: bold;
}

.rutina-container-detalles {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 10rem;
}
