.ver-mas-container {
  display: flex;
  align-items: center; 
  width: 79px;
  margin: 10px; 
  font-size: 15px;
}
  
.ver-mas-button {
  display: flex;
  align-items: center;
  color: var(--rosa);
  padding: 5px;
  cursor: pointer;
}

.ver-mas-button:hover {
  color: var(--blanco);
}

ion-icon {
  align-items: center;
}

.ver-mas-button-icon {
  padding-left: 5px;
}
  