.ClasePendienePabSubscribciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8a7b1;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.FlechaDerechaClasePend {
  font-size: 24px;
  color: #2b2024;
}

.ClasePenPagSubscripcioens {
  color: #2b2024;
  font-size: 2.66em;
}