.CabezalVentanaGracias.nivel-1 {
  color: #e91e63;
  font-size: 32px;
  margin: 10px 0;
}

.CabezalVentanaGracias.nivel-2 {
  color: #2b2024;
  font-size: 24px;
  margin: 10px 0;
}

.CabezalVentanaGracias.nivel-3 {
  color: #2b2024;
  font-size: 18px;
  margin: 5px 0;
}
